<h1>{{title}}</h1>
<p>{{description}}</p>
<p><a href="http://www.arcgis.com/home/item.html?id={{itemId}}">View In ArcGIS Online</a></p>

<esri-map id="map" basemap="gray" extent="extent">
  <esri-feature-layer url="url" feature-click="click($event)"></esri-feature-layer>
</esri-map>

<div ng-if="currentFeature">
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='(key,value) in currentFeature.attributes'>
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
    </tbody>
  </table>
</div>